.content_active {
    display: block !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: #071e3d;
    width: 100%;
    height: 100%;

}

.wrapper .top-navbar {
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;

}

.content {
    z-index: 1;
}

.wrapper .top-navbar .logo {
    width: 250px;
    height: 100%;
    background: #1557ad;
    border-bottom: 1px solid #22119d;
}

.wrapper .top-navbar .logo a {
    display: block;
    text-align: center;
    font-size: 34px;
    color: #21e6c1;
    padding: 10px 0;
    text-decoration: none;

}

.wrapper .top-navbar .top-manu {
    width: calc(100% - 250px);
    height: 100%;
    background: #071e3d;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #103c75;
}

.wrapper .top-navbar .top-manu .home-link a {
    display: block;
    background: #1557ad;
    color: #21e6c1;
    padding: 8px 14px;
    border-radius: 3px;
    text-decoration: none;
}

.wrapper .top-navbar .top-manu .home-link a:hover {
    background-color: #5343c7;
}

.wrapper .top-navbar .top-manu .right-info {
    display: flex;
}

.wrapper .top-navbar .top-manu .right-info .icon-wrap {
    padding: 8px 15px;
    color: #21e6c1;
    border-radius: 3px;
    background: #1557ad;
    margin: 0 5px;
    cursor: pointer;
}

.wrapper .top-navbar .top-manu .right-info .icon-wrap:hover {
    background-color: #5343c7;
}


.wrapper .sidebar-menu {
    position: fixed;
    top: 65px;
    left: 0;
    background: #1f4287;
    width: 250px;
    height: 100%;
    transition: all 0.3s linear;
    z-index: 2;
}

.wrapper .sidebar-menu .inner-sidebar-menu {
    position: relative;
    padding-top: 60px;
}

.wrapper .sidebar-menu ul {
    padding-left: 0;


}

.wrapper .sidebar-menu ul li a {
    color: #7467d3;
    font-size: 18px;
    padding: 20px 35px;
    display: block;
    white-space: nowrap;


}

.wrapper .sidebar-menu ul li a span {
    display: inline-block;
}

.wrapper .sidebar-menu ul li a .icon {
    margin-right: 8px;
}

.wrapper .sidebar-menu ul li a:hover {
    background: #103c75;
    color: #21e6c1;
}

.wrapper .sidebar-menu ul li a.active {
    background: #071e3d;
    color: #21e6c1;
}


.wrapper .sidebar-menu .hamburger {
    position: absolute;
    top: 5px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: #21e6c1;
    border-radius: 50px;


}

.wrapper .sidebar-menu .hamburger .inner-hamburger,
.wrapper .sidebar-menu .hamburger .inner-hamburger .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .sidebar-menu .hamburger .inner-hamburger {
    width: 40px;
    border-radius: 50px;
    height: 40px;
    background: #1f4287;
}

.wrapper .sidebar-menu .hamburger .inner-hamburger .arrow {
    color: #21e6c1;
    font-size: 20px;
}

.wrapper .container1 {
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-top: 65px;
    padding: 0 40px 25px 40px;
    transition: all 0.3s linear;
    background: #071e3d;
}

.wrapper .container1 .item-wrap {
    display: flex;
    margin-bottom: 20px;

}

.wrapper .container1 .item-wrap .item {
    background: #278ea5;
    border-bottom: 1px solid #e0e0e0;
    padding: 25px;
    font-size: 14px;
    line-height: 22px;

}

.wrapper .container1 .item-wrap .item:first-child {
    margin-right: 20px;
}

.wrapper.active .sidebar-menu {
    width: 0px;
}

.wrapper.active .hamburger {
    top: -52px;
    right: -50px;
    transition: all .7s linear;
    width: 40px;
    height: 40px;


}

.wrapper.active .hamburger .inner-hamburger {

    width: 30px;
    height: 30px;

}

.wrapper.active .hamburger .fa-bars {
    display: block !important;
    color: #21e6c1;
}

.wrapper.active .hamburger .fa-long-arrow-alt-left {
    display: none;

}

.wrapper.active .sidebar-menu ul li {
    transition: all 0.3s linear;
    display: none;
}

.wrapper.active .container1 {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0;


}


.d_card {
    height: 120px;
    width: 100%;
    border-radius: 15px;
    background: #071e3d;
    box-shadow: 5px 5px 8px #051428,
    -5px -5px 12px #092952;
    color: #21e6c1;
}

.d_card .d_card_header {
    padding: 0 0 0 40px;
    margin-top: 20px;

}

.d_card .d_card_title {
    padding: 0 0 0 40px;
}

.d_card .d_card_action {
    bottom: 0;
    background: #1f4287;
    height: 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;

}

.d_card .d_card_action a {
    color: #21e6c1;
    text-decoration: none;
}

.d_card .d_card_icon {
    padding-top: 20px;
    width: 50px;
}


.d_card_table {
    min-height: 365px;
    height: calc(100vh - 300px);
    /*overflow-x: hidden;*/
    overflow: auto;
}


.table_header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
    margin-top: -5px;
    z-index: 1;

}


.table_header h5 {
    padding: 10px 30px;
    max-width: 227px;
    color: #21e6c1;
    box-shadow: -5px -5px 12px #092952;
    background: #071F40;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.table_main {
    width: 100%;

    padding: 20px;

}

.table_main table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    overflow: visible;
}

.table_main table td, th {
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
}

.table_main table th {
    background: #071e3d;
    box-shadow: 5px 5px 8px #051428,
    -5px -5px 12px #092952;
    color: #21e6c1;

}

/*.table_main table thead tr{*/
/*    display: inline-table;*/
/*    width: 100%;*/
/*}*/

.table_main table tbody {
    /*display:block;*/
    min-height: 285px;
    height: calc(100vh - 380px);
    /*-ms-overflow-style: none;*/
    /*scrollbar-width: none;*/

}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 5px #061931,
    inset -5px -5px 5px #103f7b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0e315f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0a2a51;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


.table_main table tbody tr:nth-child(even) {
    background: #092245;
}

.table_main table tbody tr:hover {
    transition: all .3s ease;
    box-shadow: inset 5px 5px 5px #061931,
    inset -5px -5px 5px #103f7b;
    cursor: pointer;
}

.table_main table tbody .massage {
    position: absolute;
    background: #fff;
    padding: 10px;
    display: none;

}

.table_main table tbody .massage::after {
    content: '';
    position: absolute;
    background: #fff;
    padding: 8px;
    bottom: -8px;
    left: 50%;
    transform: rotate(45deg);
}

.table_main table tbody tr:hover ~ .massage {
    display: block !important;

}


@media (max-width: 960px) {
    .table_main table thead {
        display: none;
    }

    .table_main table tbody, tr, td {
        display: block;
        width: 100%;
    }

    .table_main table tr {
        margin-bottom: 15px;
    }

    .table_main table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        font-size: 12px;
    }

    .table_main table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 15px;
        font-weight: bold;

    }
}


.doc_card_table {
    min-height: 365px;
    height: calc(100vh - 240px) !important;
    /*overflow: scroll;*/
}

.doc_header {
    color: #21E6C1;
    box-shadow: 5px 5px 10px #030c18,
    -5px -5px 10px #0b3062;
    padding: 10px 40px;
    border-radius: 10px;
}

.doc_add_btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 161px;
    background: linear-gradient(145deg, #061b37, #072041);
    box-shadow: 5px 5px 10px #030c18,
    -5px -5px 10px #0b3062;
    transition: all .05s ease-in;
    outline: none;

}

.doc_add_btn:hover {
    box-shadow: 2px 2px 4px #1d9d83,
    -1px -1px 5px #35ffff;
}

.doc_add_btn:active i {
    color: #1F4287;
}

.doc_add_btn:hover > i {
    font-size: 18px;
}

.doc_add_btn i {
    font-weight: 600;
    color: #21E6C1;
    transition: all .05s ease-in;
}

.user_info {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    max-height: 0;
    overflow: hidden;
}

.user_info_Show {
    max-height: 100% !important;
}

.doc_pro_Body {
    overflow-y: auto;
    overflow-x: hidden;

}

.DoctorProfileModalContent {
    background: #071E3D;

}

.DoctorProfileModalContent .modal-header {
    border: none;
    color: #21e6c1;
    background: linear-gradient(145deg, #061b37, #072041);
    box-shadow: 5px 5px 10px #030c18,
    -5px -5px 10px #0b3062;
}

.DoctorProfileModalContent .modal-header img {
    width: 50px;
    border-radius: 161px;
    padding: 5px;
    background: linear-gradient(145deg, #061b37, #072041);
    box-shadow: 5px 5px 10px #030c18,
    -5px -5px 10px #0b3062;

}

.DoctorProfileModalContent .doc_add_btn i {
    color: crimson;
}

.DoctorProfileModalContent .doc_add_btn:hover {
    box-shadow: 1px 1px 4px #f10938,
    -1px -1px 4px crimson;
}

.doc_profile_card .d_card {
    height: calc(100vh - 132px);
}

.doc_profile_content {
    padding: 0 20px 20px 20px;
    width: 98%;
    border-radius: 10px;
    height: calc(100vh - 132px);
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 8px #051428,
    inset -5px -5px 12px #092952;
}
.doc_profile_content .btn-group{
    margin-left: -19px;

}
.doc_Pro_content_avail{
    height: calc( 100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}
.addAvailabilityInput{
    background: transparent !important;
    color: #21e6c1;
}
.doc_avail_custom_select{
    position: relative;
}
.doc_avail_custom_select select{
}
.doc_avail_custom_select select:after{
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.doc_avail_custom_select select option{
    background:#092952;
    color:#21e6c1;
}
.doc_avail_card .d_card{
    height: 200px;
}
.doc_avail_card .d_card h6{
    font-size: 12px;
}
.doc_avail_card .d_card p{
    font-size: 10px;
}
.doc_avail_card .d_card .avail_title{
    box-shadow: 1px 1px 4px #f10938,
    -1px -1px 4px crimson;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.doc_avail_card .d_card .avail_footer {
    width: 100%;
bottom: 0;
}
.doc_avail_card .d_card .avail_footer h5{
   font-size: 14px;
}
.doc_avail_card .d_card .avail_line{
    height: 1px;
    width: 78%;
    background: #f10938;
    box-shadow: 1px 1px 4px #f10938, -1px -1px 4px crimson;
    margin-left: 20px;
}

.patient_datePicker input{
    background: transparent !important;
    box-shadow: 1px 1px 4px #f10938, -1px -1px 4px crimson;
    border: none;
    color: #21e6c1;
}
